@charset "utf-8";
/* CSS Document */

.newlist{
	height:auto;
	}
.rdzx{
	height:auto;
}
.wddh{
	height:700px;
	}
.page{
	clear:both;
	width:400px;
	height:30px;
	margin:0 auto;
	margin-bottom:10px;
}
.page table{
	background:#ddd;
	}
.page table td{
	background:#fff;
	width:25px;
	text-align:center;
}
.page table td.first{
	width:60px;
	}
.page table td a{
	display:block;
	color:#8c8c8c;
	}
.page table td a:hover{
	color:#fff;
	background:#c40000;
	}
.tab{
	width:862px;
	height:50px;
	border-bottom:#4f4f4f solid 3px;
	}
#content .rdzx .tab h1{
	width:80px;
	height:50px;
	line-height:50px;
	float:left;
	border:none;	
	margin:0;
}
#content .rdzx .tab h1 a{
	color:#333;
	font-weight:bold;
	font-size:24px;
	padding:0 3px;
	display:block;
	float:left;
	width:50px;
	text-align:center;
}
#content .rdzx .tab h1 a:hover{
	color:#c40000;
	padding:0;
	border-bottom:#c40000 solid 3px;
	border-left:#fff solid 3px;
	border-right:#fff solid 3px;
	}
#content .rdzx .tab h1.tabon a{
	color:#c40000;
	padding:0;
	border-bottom:#c40000 solid 3px;
	border-left:#fff solid 3px;
	border-right:#fff solid 3px;
	}
.newlist{
	clear:both;
	}