@charset "utf-8";
.m5 { margin:5px }
.m10 { margin:10px }
.m15 { margin:15px }
.m20 { margin:20px }
.mt5 { margin-top:5px }
.mt10 { margin-top:10px }
.mt15 { margin-top:15px }
.mt20 { margin-top:20px }
.mt30 { margin-top:30px }
.mt35 { margin-top:35px }
.mt40 { margin-top:40px }
.mt50 { margin-top:50px }
.mt100 { margin-top:100px }
.mr5 { margin-right:5px }
.mr10 { margin-right:10px }
.mr15 { margin-right:15px }
.mr20 { margin-right:20px }
.mr30 { margin-right:30px }
.mr60 { margin-right:60px }
.mr320 {margin-right:320px }
.mr250 {margin-right:250px }
.mb5 { margin-bottom:5px }
.mb10 { margin-bottom:10px }
.mb15 { margin-bottom:15px }
.mb20 { margin-bottom:20px }
.mb30 { margin-bottom:30px }
.ml5 { margin-left:5px }
.ml10 { margin-left:10px }
.ml15 { margin-left:15px }
.ml20 { margin-left:20px }
.ml25 { margin-left:25px }
.ml30 { margin-left:30px }
.ml130 { margin-left:130px }
.ml420 { margin-left:420px }
.blank5 { height:5px; width:auto; clear:both; overflow:hidden; }
.blank10 { height:10px; width:auto; clear:both; overflow:hidden; }
.blank15 { height:15px; width:auto; clear:both; overflow:hidden; }
.blank20 { height:20px; width:auto; clear:both; overflow:hidden; }
.blank25 { height:25px; width:auto; clear:both; overflow:hidden; }
.blank30 { height:30px; width:auto; clear:both; overflow:hidden; }
.blank35 { height:35px; width:auto; clear:both; overflow:hidden; }
.blank50 { height:50px; width:auto; clear:both; overflow:hidden; }
.w40 { width:40px; }
.w50 { width:50px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w100 { width:100px; }
.w120 { width:120px; }
.w145 { width:145px; }
.w160 { width:160px; }
.w190 { width:190px; }
.w200 { width:200px; }
.w230 { width:230px; }
.w245 { width:235px; }
.radio, .checkbox { position:relative; top:2px; }
.ft-999 { color:#999; }
.ft-f60 { color:#f60; }
.ft-f30 { color:#f30; }
.ft-green { color:#008800; }
.f-fs1 { font-size:12px; }
.f-fs2 { font-size:14px; }
.f-tal { text-align:left; }
.f-tac { text-align:center; }
.f-tar { text-align:right; }
.f-taj { text-align:justify; text-justify:inter-ideograph; }
.f-vam { vertical-align:middle; }
.f-vat { vertical-align:top; }
.f-vab { vertical-align:bottom; }
.f-ti2 { text-indent:2em; }
.f-ib { display:inline-block; *display:inline;
*zoom:1;
}
.f-dn { display:none; }
.f-db { display:block; }
.f-pr { position:relative; zoom:1; }
.sl-wrap, .sl-wrap td, .sl-wrap th { word-wrap:break-word; word-break:break-all; }
.sl-wrap-table { table-layout:fixed; }
.sl-rc { display:inline-block; vertical-align: middle; border-left:1px solid #ddd; border-right:1px solid #ddd; }
.sl-rc-cnt { float:left; position: relative; border-top: 1px solid #ddd; border-bottom:1px solid #ddd; margin:-1px 0; }
div.sl-rc, p.sl-rc, h2.sl-rc, h3.sl-rc, h4.sl-rc, h5.sl-rc, h6.sl-rc, ul.sl-rc, ol.sl-rc { *display: inline;
}
.sl-file { position:relative; display:inline-block; zoom:1; cursor:pointer; overflow:hidden; vertical-align:middle; }
.sl-file .sl-file-input { position:absolute; right:0; top:0; _font-size:100px; _font-size:12px; _zoom:10; height:100%; _height:auto; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; cursor:pointer; }
a { color:#666; }
a:hover { text-decoration:none; color:#ff6600; }
img { vertical-align:top; }
.container { width:1000px; margin:0 auto; }
.split { display:inline-block; *display:inline;
zoom:1; padding:0 10px; color:#f0d20a; }
.border-bt { border-bottom:1px #dedede solid; }
.border-b { border:1px #d8d8d8 solid; }
fieldset.border-b { padding: 10px; margin: 10px; }
.mc-border { border-top:1px solid #e1e1e1; border-right:1px solid #dedede; border-bottom:1px solid #acacac; border-left:1px solid #dedede; border-radius:5px; box-shadow:0 1px 1px #e1e1e1; background:#fff; }
.h-top { height:35px; line-height:35px; color:#ffffff; background:#877007;}
.h-top li { float:left; color: #ffe299; }
.h-top li.welcome { padding-right: 20px; }
.h-top span.fn-left, .h-top li a { font-size: 12px; color:#f0d20a; }
.h-top span.fn-left, .h-top li a:hover{ color: #fff;}
.h-top span.fn-right { color: #f0d20a; background:url(images/common/telephone.gif) no-repeat 0px center; text-indent: 25px;}
.h-logo { width:100%; height: 97px; background:#ffffff; overflow:hidden; }
.h-logo .logo { display:block; width:420px; height:53px; background:url(images/common/logo.jpg) no-repeat; text-indent:-9999px; margin:22px 0; }
.h-logo span.about{ background:url(images/common/about-bg.jpg) no-repeat 0 5px; text-align: right; width: 254px; height: 94px; line-height:94px; overflow: hidden; display: block; float: right;}
.h-logo span.about a{ color: #fcaf00; font-weight: bold; padding-right: 25px;}
.h-nav{ background: #eaeaea; border-top: 1px solid #e2d5b4; height:54px; overflow: hidden;}
.h-menu { padding-top:20px; display:inline; }
.hl-menu { height:54px; line-height:54px; }
.hl-menu a { font-size:16px; color: #714101; font-weight: bold; text-align: center; width: 249px; height:54px; line-height:54px; display: block; float: left;}
.hl-menu a.on {background:url(images/common/long-title.png) no-repeat 0px center; }

/* foot */
.foot { border-top:1px solid #fff; padding:0 0 24px; }
.foot-nav { line-height:30px; }
.foot-nav .foot-hot-line { font-size:24px; font-weight:bold; display:inline-block; margin-top:14px; color: #1E8A02; }
.foot-nav .foot-hot-line b { font-size: 14px; color: #666; font-weight: normal; }
.foot-nav p a { color:#999; }
.foot-icon { padding:30px 10px 0 0; }
.foot-icon ul { font-size: 14px; }
.foot-icon li { float:left; margin:0 8px; }
.foot-icon .foot_icon { height:32px; background:url(images/common/foot_icon.jpg) no-repeat 0 0; display:inline-block; }
.foot-icon .icon1 { width:27px; background-position:0 0; }
.foot-icon .icon2 { width:59px; background-position:-27px 0; }
.foot-icon .icon3 { width:68px; background-position:-86px 0; }
.foot-icon .icon4 { width:75px; background-position:-154px 0; }
.foot-icon .icon5 { width:76px; background-position:-229px 0; }
.fn-g-btn { vertical-align:middle; display:inline-block; text-align:left; height:31px; cursor:pointer; background:url(images/common/com-btn.jpg) no-repeat left 0; padding:0 0 0 15px; }
.fn-g-btn span { display:inline-block; text-align:right; height:31px; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right 0; padding:0 15px 0 0; color:#fff; font-weight:600; }
.fn-g-btn button { overflow:visible; border:none; display:inline-block; text-align:right; height:31px; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right 0; padding:0 15px 0 0; color:#fff; font-weight:600; }
.fn-g-btn:hover { background:url(images/common/com-btn.jpg) no-repeat left -36px; text-decoration:none; }
.fn-g-btn:hover span { background:url(images/common/com-btn.jpg) no-repeat right -36px; }
.fn-g-btn:hover button { cursor:pointer; background:url(images/common/com-btn.jpg) no-repeat right -36px; }
.fn-h-btn { vertical-align:middle; cursor:pointer; text-align:left; display:inline-block; height:31px; background:url(images/common/com-btn.jpg) no-repeat left -72px; padding:0 0 0 15px; }
.fn-h-btn span { text-align:right; height:31px; display:inline-block; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right -72px; padding:0 15px 0 0; color:#666; }
.fn-h-btn button { overflow:visible; border:none; text-align:right; height:31px; display:inline-block; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right -72px; padding:0 15px 0 0; color:#666; }
.fn-h-btn:hover { background:url(images/common/com-btn.jpg) no-repeat left -108px; text-decoration:none; }
.fn-h-btn:hover span { background:url(images/common/com-btn.jpg) no-repeat right -108px; }
.fn-h-btn:hover button { cursor:pointer; background:url(images/common/com-btn.jpg) no-repeat right -108px; }
.fn-o-btn { vertical-align:middle; cursor:pointer; text-align:left; display:inline-block; height:31px; background:url(images/common/com-btn.jpg) no-repeat left -144px; padding:0 0 0 15px; }
.fn-o-btn span { display:inline-block; height:31px; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right -144px; padding:0 15px 0 0; color:#fff; font-weight:600; }
.fn-o-btn button { display:inline-block; overflow:visible; border:none; height:31px; line-height:31px; background:url(images/common/com-btn.jpg) no-repeat right -144px; padding:0 15px 0 0; color:#fff; font-weight:600; }
.fn-o-btn:hover { background:url(images/common/com-btn.jpg) no-repeat left -180px; text-decoration:none; }
.fn-o-btn:hover span { background:url(images/common/com-btn.jpg) no-repeat right -180px; }
.fn-o-btn:hover button { cursor:pointer; background:url(images/common/com-btn.jpg) no-repeat right -180px; }
.log-item { padding:0 0 20px 90px; position:relative; zoom:1; color: #fff; }
.log-item .fn-label { float:left; display:inline-block; margin-left:-90px; line-height:29px; height:29px; vertical-align:middle; text-align:right; width:90px; font-size: 14p }
.log-item .fn-label .required { color:#f00; font-family:SimSun; margin-right:5px; }
.fn-item { padding:0 0 15px 140px; position:relative; zoom:1; }
.fn-item .fn-label { float:left; display:inline-block; margin-left:-140px; height:29px; vertical-align:middle; text-align:right; width:140px; color:#666; }
.fn-item .fn-label .required { color:#f00; font-family:SimSun; margin-right:5px; }
.fn-item a { color:#09f; }
.fo-item { padding:0 0 15px 220px; position:relative; zoom:1; }
.fo-item .fn-label { float:left; display:inline-block; margin-left:-220px; line-height:29px; height:29px; vertical-align:middle; text-align:right; width:220px; color:#666; }
.fo-item .fn-label .required { color:#f00; font-family:SimSun; margin-right:5px; }
.fo-item a { color:#09f; }
.fn-text { color:#666; border:1px solid #dedede; border-radius:2px; height:29px; background:#fff url(images/common/fm-text-bg.gif) repeat-x left top; padding:0 10px; vertical-align:middle; line-height:29px; font-size: 16px; }
.fn-text:focus { background-color:#fff; }
.fn-words { color:#333; padding:5px 0 0; color:#666; }
.fn-t-focus { background-color:#fff; }
.fn-t-disable { color:#666; background-color:#fff; }
.fn-item .fn-tip { display:block; padding-top:5px; font-weight:normal; line-height:16px; }
.fo-item .fn-tip { display:block; color:#999; padding-top:5px; font-weight:normal; line-height:16px; }
.t-error { border:1px solid #ff9999; }
b.error-tip { display:inline-block; vertical-align:middle; font-weight:normal; color:#ff9999; background:url(images/common/icon.gif) no-repeat -105px -272px; padding-left:20px; line-height:16px; }
b.right-tip { display:inline-block; vertical-align:middle; font-weight:normal; background:url(images/common/icon.gif) no-repeat -105px -93px; width:16px; height:16px; }
b.focus-tip { display:inline-block; vertical-align:middle; font-weight:normal; color:#999; background:url(images/common/icon.gif) no-repeat -105px -212px; padding-left:20px; line-height:16px; }
.fn-time { width:125px; position:relative; display:inline-block; }
.fn-time .fn-text { padding-right:25px; }
.time-img { position:absolute; right:5px; top:9px; cursor:pointer; }
.fn-item .upload-pic dl dt { float:left; margin-right:10px; }
.fn-item .upload-pic dl dd { color:#999; }
.fn-code { width:130px; }
.code-img { vertical-align:middle; cursor:pointer; margin:0 5px; }
.card-number { border:1px solid #f90; border-radius:3px; background:#fff28d; color:#f90; font-family:Tahoma; font-size:18px; padding:0 15px; position:absolute; top:-30px; left:170px; }
.m-box { padding:10px 25px; }
.m-box-hd { position:relative; height:38px; line-height:38px; padding:0 15px; border-bottom:1px solid #dfdfdf; background:#f1f1f1; }
.m-box-hd .box-title { float:left; font-size:16px; color:#666; font-weight:700; }
.m-box-hd .box-text { float:left; color:#999; }
.m-box-hd .box-more { float:right; }
.m-box-ct { }
.m-step { height:29px; line-height:29px; margin:0 0 10px; }
.m-step li { float:left; height:29px; line-height:29px; margin:0 0 10px; padding:0 35px 0 30px; background-color:#aaa; color:#fff; font-weight:700; }
.m-step .first, .m-step .mid, .m-step .z-visited { background:#aaa url(images/common/step-bg.jpg) no-repeat right 0; }
.m-step .z-visited { background:#fd6800 url(images/common/step-bg.jpg) no-repeat right -78px; }
.m-step .fir-cur, .m-step .mid-cur { background:#fd6800 url(images/common/step-bg.jpg) no-repeat right -39px; }
.m-step .last-cur { background:#fd6800; }
.fn-steps { margin-bottom:20px; border-bottom:3px solid #dedede; }
.fn-steps li { float:left; padding-right:50px; font-size:14px; color:#ccc; position:relative; top:3px; }
.fn-steps .current { color:#fd6800; font-weight:bold; border-bottom:3px solid #fd6800; }
.m-layer { border-radius:5px; box-shadow:0 0 5px #666; background:#fff; color:#666; }
.m-layer .lytt { height:50px; line-height:50px; padding:0 15px; border-bottom:1px solid #e6e6e6; }
.m-layer .lytt .u-tt { float:left; font-size:16px; font-weight:bold; color:#fd6800; }
.m-layer .lytt .lyclose { float:right; width:16px; height:16px; margin-top:17px; background:url(images/common/lyclose.gif) no-repeat; text-indent:-9999px; cursor:pointer; }
.m-layer .lyct { }
.m-layer .lybt { height:50px; line-height:50px; border-top:1px solid #dedede; text-align:center; }
.m-layer .lybt a { display:block; font-size:14px; font-family:"Microsoft YaHei"; font-weight:700; }
.m-layer .lybt a.double { float:left; width:50%; border-right:1px solid #dedede; margin-left:-1px; }
.m-layer .m-item { padding-left:145px; }
.m-layer .ly-state { position:relative; padding:35px 0 30px; }
.m-layer .ly-state .state-con { padding:0 0 0 140px; }
.m-layer .ly-state .state-tt { margin-bottom:2px; font-family:"Microsoft YaHei"; color:#666; font-size:14px; line-height:20px; }
.m-layer .ly-state .state-other { color:#008800; }
.m-layer .ly-state .icon { position:absolute; left:95px; top:30px; width:36px; height:36px; }
.m-layer .ly-state-success .icon { background:url(images/common/icon.gif) no-repeat 0 0; }
.pop-up { padding:35px 0; }
.m-layer2 { padding:0 40px; background:#fff; border:7px solid #7c7c7c; }
.m-layer2 .lytt { height:55px; line-height:55px; }
.m-layer2 .lytt .tt { font-family:"Microsoft YaHei"; font-size:14px; }
.m-layer2 .lybt { padding:25px 0; text-align:center; }
.m-layer2 .selected-tip { padding:35px 0; }
.m-layer2 .selected-tip .tip { position:relative; }
.m-layer2 .selected-tip .tip .icon { position:absolute; top:0; left:0; width:36px; height:36px; background:url(images/common/icon.gif) no-repeat 0 -46px; }
.m-layer2 .selected-tip .tip .tip-cont { padding:0 0 0 60px; }
.m-layer2 .selected-tip .tip .tt { font-family:"Microsoft YaHei"; font-size:14px; color:#f60; line-height:20px; font-weight:bold; }
.m-layer2 .selected-tip .tip-btn { margin:40px 0; }
.m-layer2 .selected-tip .m-list { padding:0; }
.m-tipbox .info { margin:25px 0; line-height:24px; }
.top-link { text-align:right; margin-bottom:3px; }
.top-link a { padding-left:16px; background:url(images/common/tip-blue.gif) no-repeat left center; }
p.err { line-height: 22px; }
